*.orig
# OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
Icon

# Ignore bundler config.
/.bundle
vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore Database configs
db/schema.rb
*.rdb

# Ignore Tests & Reports
.rspec
/spec/reports/*.*
capybara-*.html
coverage/*

# Ignore Zeus socket
.zeus.sock

# Ignore CSS & Cache
*.rbc
*.sassc
.sass-cache/

# Ignore Rdoc/Documentation
/doc/app

# Ignore rails_best_practices report
rails_best_practices_output.html

# Ignore Zeus socket
.zeus.sock

config/database.yml
config/aws.yml
#config/cloudinary.yml
#config/mongoid.yml

# Ignore brakeman report
brakeman.html

# Ignore environment files
.env.*
.env
bower_components
.byebug_history
# Ignore file uploads
/public/*
/public/uploads
/public/media
/public/sitemap.*
# Ignore precompiled assets
/public/assets

# Ignore Capistrano stats
.capistrano
.ruby-version
