<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nisi ullam ex hic vitae molestias aspernatur dolorem labore nobis sit, officiis nemo tenetur mollitia amet libero, facere odit impedit veniam.