<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#page-top">
      	<%= image_tag('logo-light.png', class: 'logo-light') %>
        <img class="logo-dark" src="img/logo-dark.png" alt="">
        <img class="logo-dark-small" src="img/logo-dark-small.png" alt="">
        <img class="logo-light-small" src="img/logo-light-small.png" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#about">What we do</a>
        </li>
        <li class="page-scroll">
          <a href="#services">Press</a>
        </li>
        <li class="page-scroll">
          <a href="#case-study">Blog</a>
        </li>
        <li class="page-scroll">
          <a href="#footer">Contact</a>
        </li>
        <li class="page-scroll cta">
          <a href="#services">Book Chef</a>
        </li>
        <li>
          <a href="tel:+2125713003">Login</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<section class="intro" style="background-image: url('<%= image_url('background.jpg') %>');"">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="brand-heading">Bespoke Dining Experiences</h1>
          <h5 class="intro-box">
          	<p class="intro-text">Professional chefs & sommeliers right at your doorstep <br> Let us make the curries, while you make memories</p>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="play-button" id="play-button-risotteria" style="opacity: 1;">
  	<svg class="play-button-svg" width="124px" height="124px" viewBox="0 0 80 80">
  		<circle cx="40" cy="40" r="30"></circle>
  	</svg>
  	<p class="fat-title--white bar-middle bar--white">
  		play
  	</p>
  </div>
  <div class="page-scroller">
   <%= image_tag('down-caret.png', id: 'view-more-link', href: '#about') %>
 </div>
</section>